@use '../../scss/responsive';

.imgWrapp {
  position: absolute;
  top: 0;
  background-color: #000;
  height: 80vh;
  border: transparent;

  @include responsive.sm {
    background-color: #ffffff;
  }
}
