.userWrapper {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

    & .userCase {
        display: flex;
        flex-direction: column;
    }

    & .userCaseTitle {
        margin: 0 0 12px;
    }

    & .userCaseRole {
        margin-top: 8px;
    }

    & .useCaseBtn {
        margin-top: 3px;
    }
}

