@use './scss/responsive';

.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  font-size: 0.8rem;
  margin-top: 3px;
}

.btn {
  display: inline-block;
  width: 88px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border: 1px solid;
  background-color: #353333;
  border-color: #b3afaf;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 7px 22px;
  margin: 5px 5px 0 0;
  cursor: pointer;

  &.long {
    width: 144px;
  }

  @include responsive.sm {
    color: #353333;
    background-color: #ffffff;
  }

  &:hover {
    color: #353333;
    background-color: #ffffff;

    @include responsive.sm {
      color: #ffffff;
      background-color: #353333;
    }
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #ffffff;

  @include responsive.sm {
    color: #353333;
  }

  &:hover {
    color: #ffa938;
  }
}

.active {
  color: #ffa938 !important;
}

.edit {
  border: none;
  background-color: transparent;
  padding: 1px;
  border-radius: 8px;
  cursor: pointer;

  &::before {
    content: url('./img/edit.svg');
    margin-right: 25px;
  }

  &:hover {
    background-color: #2edce9;
  }
}

.delete {
  border: none;
  background-color: transparent;
  padding: 1px;
  border-radius: 8px;
  cursor: pointer;

  &::before {
    content: url('./img/delete.svg');
    margin-right: 25px;
  }

  &:hover {
    background-color: #ff7f7f;
  }
}

.form-modal {
  border: none;
  top: 20vh;
  color: #ffffff;
  background-color: #000;

  @include responsive.sm {
    color: #000;
    background-color: #ffffff;
  }

  & h2 {
    margin: 0 0 8px;
  }
}
