@use './scss/responsive';
@mixin google-font($family) {
  @import url('https://fonts.googleapis.com/css2?family=#{$family}');
}
@include google-font('Inter:wght@400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: aliceblue;
  background-color: black;

  @include responsive.sm {
    color: black;
    background-color: white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
